/* .nav-links {
  display: flex;
  list-style-type: none;
  gap: 0.8rem;
  margin-right: 0.8rem;
  text-transform: uppercase;
}

.nav-links > li > .active {
  text-decoration: underline;
} */

.active > li > div > div {
  border-bottom: 1px solid white;
}
